if loadfont /boot/grub/font.pf2
then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  terminal_output gfxterm
fi

set theme=/boot/grub/theme.cfg
set timeout=2

menuentry "Start des Systems" {
  set gfxpayload=keep
  linux /casper/vmlinuz boot=casper persistent nvme_load=YES nvd_load=YES vt.global_cursor_default=0 rd.systemd.show_status=auto rd.udev.log-priority=3 quiet loglevel=3 vga=current splash
  initrd /casper/initrd.gz
}

menuentry "Start des Live Systems" {
  set gfxpayload=keep
  linux /casper/vmlinuz boot=casper nvme_load=YES nvd_load=YES vt.global_cursor_default=0 rd.systemd.show_status=auto rd.udev.log-priority=3 quiet loglevel=3 vga=current splash
  initrd /casper/initrd.gz
}

menuentry "Lade Live System in den RAM" {
  set gfxpayload=keep
  linux /casper/vmlinuz boot=casper toram nvme_load=YES nvd_load=YES
  initrd /casper/initrd.gz
}


menuentry "Start des Live Systems in sicherem Grafikmodus" {
  set gfxpayload=keep
  linux /casper/vmlinuz boot=casper xforcevesa nomodeset nvme_load=YES nvd_load=YES
  initrd /casper/initrd.gz
}

menuentry "Start des Live Systems im Debug Modus" {
  set gfxpayload=keep
  linux /casper/vmlinuz boot=casper loglevel=7
  initrd /casper/initrd.gz
}
